body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #e0e0fe, hsl(189, 78%, 95%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
}

.compare-box {
    background-color: #007bff;
    padding: 0px;
    border-radius: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 25px;
    margin: auto;
    position: fixed;
    top: 30px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: small;
    color: white;
}

.dropdown-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px; 
    left: 230px;
    width: 38%; 
    height: 50 px;
    justify-content: space-between;
}

.dropdown {
    width: 100px; 
    height: 50px; 
    padding: 5px;
}

.date-selector-1 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px; 
    left: 805px; 
    width: 200px; 
    height: 50 px;
}

.date-selector-2 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px; 
    left: 963px; 
    width: 200px; 
    height: 50 px;
}

.checkbox-1{
    display: flex;
    align-items: center;
    position: fixed;
    top: 101px; 
    left: 50px; 
}

.checkbox-2{
    display: flex;
    align-items: center;
    position: fixed;
    top: 101px; 
    left: 110px; 
}

.submit-container {
    background-color: #007bff;
    padding: 0px;
    border-radius: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 25px;
    margin: auto;
    position: fixed;
    top: 65px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: small;
    color: white;
}

.submit-container:hover {
    background-color: #0069d9;
}

#filterForm {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 150px;
    overflow-y: auto;
    position: fixed;
    top: 30px;
    left: 1130px;
    z-index: 1;
}

.filter-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    position: fixed;
    top: 240px;
    width: 120px;
    left: 1229px;
}

.filter-button:hover {
    background-color: #0069d9;
}

.menu-bar {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    position: fixed;
    left: 40px;
    top: 137px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 500px;
    padding: 20px;
    width: 100px;
}

.menu-bar-nav {
    list-style: none;
    padding: 10px;
}

.menu-bar-nav i {
    display: block;
    margin: -30px;
    margin-bottom: 10px;
}

.menu-bar-nav li {
    margin-bottom: 39px;
}

.menu-bar-nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    display: block;
    text-align: center;
}

.menu-bar-nav a:hover {
    color: #0069d9;
}


.welcome-container {
    text-align: center;
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 280px;
    position: fixed;
    top: 30px;
    left: 1130px;
}   

.welcome-container h1 {
    margin-bottom: 20px;
}

.graph-container {
    position: fixed;
    top: 120px;  
    left: 208px;  
    width: 850px;  
    height: 540px;  
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.small-label {
    font-size: 14px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
    
}

.scrollable-container {
    width: 280px; 
    height: 362px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    margin: 50px auto;
    position: fixed;
    top: 240px;
    left: 1130px;
    text-align: left;
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    text-align: 0 0 20px rgba(0, 0, 0, 0.1); 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee; 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#apply-filter {
    top: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}