<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Funds</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='funds-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>

    <div class="content">
        <h3>Welcome to our funds page.</h3> <h3>Explore the options to add or withdraw your funds:</h3>
        
        <div class="add-funds-form" id="addFundsForm">
            <h2>Add Funds to Your Demat Account</h2>
            <form action="/add_funds" method="POST" class="funds-form" id="addFundsForm">
                <label for="addAmount">Amount:</label>
                <input type="number" id="addAmount" name="amount" min="0" step="any" required>
                <button type="submit" class="add-funds-button">Add Funds</button>
            </form>
        </div>
        
        <div class="withdraw-funds-form" id="withdrawFundsForm">
            <h2>Withdraw Funds from Your Demat Account</h2>
            <form action="/withdraw_funds" method="POST" class="funds-form" id="withdrawFundsForm">
                <label for="withdrawAmount">Amount:</label>
                <input type="number" id="withdrawAmount" name="amount" min="0" step="any" required>
                <button type="submit" class="withdraw-funds-button">Withdraw Funds</button>
            </form>
        </div>

        <div class="welcome-container">
            <h2>Welcome, {{ username }}!</h2>
            <p>This is Funds. Current Balance: {{balance}}</p>
        </div>

    </div>
    <div class="footer">
        <p>
            <h3>GreenLeaf Capital <span class="small-font">&copy;</span></h3>
            <h4>2024 All rights reserved.</h4>
        </p>
    </div>
    
    <a class="back-button" href="/dashboard">
        <i class="fas fa-arrow-left fa-2x"></i>
    </a>

</body>

</html>
