<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Funds</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='funds-style.css') }}">
</head>

<body>

    <div class="content">
        <h3>Welcome to our funds page.</h3> <h3>Explore the options to add or withdraw your funds:</h3>


        <!-- Add more fund sections as needed -->

        <!-- Form for adding funds -->
        <div class="add-funds-form" id="addFundsForm">
            <h2>Add Funds to Your Demat Account</h2>
            <form action="/add_funds" method="POST" class="funds-form" id="addFundsForm">
                <label for="addAmount">Amount:</label>
                <input type="number" id="addAmount" name="amount" min="0" step="any" required>
                <button type="submit" class="add-funds-button">Add Funds</button>
            </form>
        </div>
        
        <!-- Withdraw funds form -->
        <div class="withdraw-funds-form" id="withdrawFundsForm">
            <h2>Withdraw Funds from Your Demat Account</h2>
            <form action="/withdraw_funds" method="POST" class="funds-form" id="withdrawFundsForm">
                <label for="withdrawAmount">Amount:</label>
                <input type="number" id="withdrawAmount" name="amount" min="0" step="any" required>
                <button type="submit" class="withdraw-funds-button">Withdraw Funds</button>
            </form>
        </div>

        <div class="welcome-container">
            <h2>Welcome, {{ username }}!</h2>
            <p>This is Funds . Your balance is {{balance}}</p>
            <a href="/dashboard" class="dashboard-button">Dashboard</a>
        </div>
        
        <!-- Display fund transaction status -->
        <div class="fund-transaction-status">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        
        <script>
            // Clear flashed messages after a delay
            setTimeout(function() {
                document.querySelectorAll('.flashes').forEach(function(flash) {
                    flash.style.display = 'none';
                });
            }, 5000);  // Adjust the delay as needed
        </script>
    </div>
    <div class="footer">
        <!-- <p><h5>&copy;</h5> <h3>2024 GreenLeaf Capital</h3> <br> <h4>All rights reserved.</h4></p> -->
        <p>
            <h3>GreenLeaf Capital <span class="small-font">&copy;</span></h3>
            <h4>2024 All rights reserved. lolutites</h4>
        </p>
    </div>
</body>

</html>
