<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Funds</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='funds-style.css') }}">
</head>

<body>
    <div class="header">
        <h1>Explore Our Funds</h1>
    </div>

    <div class="content">
        <p>Welcome to our funds page. Explore the various investment options we offer:</p>

        <div class="fund">
            <h2>Fund Name 1</h2>
            <p>Description of Fund 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Minimum Investment: $1,000</p>
        </div>


        <!-- Add more fund sections as needed -->

        <!-- Form for adding funds -->
        <div class="add-funds-form" id="addFundsForm">
            <h2>Add Funds to Your Demat Account</h2>
            <form action="/add_funds" method="POST" class="funds-form">
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" min="0" step="any" required>
                <button type="submit" class="add-funds-button">Add Funds</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <!-- <p><h5>&copy;</h5> <h3>2024 GreenLeaf Capital</h3> <br> <h4>All rights reserved.</h4></p> -->
        <p>
            <h3>GreenLeaf Capital <span class="small-font">&copy;</span></h3>
            <h4>2024 All rights reserved. lolutites</h4>
        </p>
    </div>
</body>

</html>
