<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="header">
        <h1>User Profile</h1>
    </div>

    <div class="profile-container">
        <!-- Update the profile-details section to display user details -->
        <div class="profile-details">
            <h2>{{ username }}'s Profile</h2>
            <p>Name: {{ user_details['name'] }}</p>
            <p>Contact No.: {{ user_details['contact_number'] }}</p>
            <p>Email: {{ user_details['email'] }}</p>
            <!-- Add more user details as needed -->
        </div>

    </div>

    <div class="footer">
        <!-- <p><h5>&copy;</h5> <h3>2024 GreenLeaf Capital</h3> <br> <h4>All rights reserved.</h4></p> -->
        <p>
            <h3>GreenLeaf Capital <span class="small-font">&copy;</span></h3>
            <h4>2024 All rights reserved.</h4>
        </p>
    </div>

    <a class="back-button" href="/dashboard">
        <i class="fas fa-arrow-left fa-2x"></i>
    </a>
</body>

</html>