<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome-style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="compare-box">
        <h5>Choose stock(s):</h5>
    </div>
    
    <form action ="process_data" method="post">
        <div class="dropdown-container">
            <select name="stock1" class="dropdown" required>
                <option value="">Primary Stock</option>
                {% for option in dropdown_stocks %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        
            <select name="stock2" class="dropdown">
                <option value="select">Stock 2</option>
                {% for option in dropdown_stocks %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        
            <select name="stock3" class="dropdown">
                <option value="select">Stock 3</option>
                {% for option in dropdown_stocks %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        
            <select name="stock4" class="dropdown">
                <option value="select">Stock 4</option>
                {% for option in dropdown_stocks %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

            <select name="compare_type" class="dropdown">
                <option value="select">Type</option>
                <option value="absolute">Absolute</option>
                <option value="relative">Relative</option>
            </select>
        </div>

        <div class="date-selector-1">
            <label for="startDate" class="small-label">Start Date:</label>
            <input type="date" id="startDate" name="startDate">
        </div>
        
        <div class="date-selector-2">
            <label for="endDate" class="small-label">End Date:</label>
            <input type="date" id="endDate" name="endDate">
        </div>

        <button type="submit" class="submit-container">
            <h5>See graph</h5>
        </button>

        <div class="checkbox-1">
            <label for="rsi" class="small-label">RSI</label>
            <input type="checkbox" id="rsi" name="rsi" value="true">
            <input type="hidden" name="rsi" value="false">
        </div>

        <div class="checkbox-2">
            <label for="vwaps" class="small-label">VWAP</label>
            <input type="checkbox" id="vwaps" name="vwaps" value="true">
            <input type="hidden" name="vwaps" value="false">
        </div>

    </form>

    <button class="filter-button" onclick="showFilterForm()">Filters:</button>
    <div id="filterForm" style="display: none;">
        <form action="{{ url_for('filter') }}" method="POST">
            <label for="pe_ratio">PE Ratio:</label>
            <input type="number" id="pe_ratio" name="pe_ratio" min="0" step="any">
            <label for="dividend_yield">Dividend Yield:</label>
            <input type="number" id="dividend_yield" name="dividend_yield" min="0" step="any">
            <label for="market_cap">Market Cap:</label>
            <input type="number" id="market_cap" name="market_cap" min="0" step="any">
            <label for="market_cap_greater">Market Cap less than:</label>
            <input type="number" id="market_cap_greater_than" name="market_cap_greater_than" min="0" step="any">
            <label for="debt_to_equity">Debt to Equity:</label>
            <input type="number" id="debt_to_equity" name="debt_to_equity" min="0" step="any">
            <label for="current_ratio">Current Ratio:</label>
            <input type="number" id="current_ratio" name="current_ratio" min="0" step="any">
            <label for="eps">EPS:</label>
            <input type="number" id="eps" name="eps" min="0" step="any">
            <label for="price_to_book">Price to Book:</label>
            <input type="number" id="price_to_book" name="price_to_book" min="0" step="any">
            <label for="earning_growth">Earning Growth:</label>
            <input type="number" id="earning_growth" name="earning_growth" min="0" step="any">
            <label for="ebitda_margin">EBITDA Margin:</label>
            <input type="number" id="ebitda_margin" name="ebitda_margin" min="0" step="any">
            <label for="entreprise_to_ebitda">Enterprise/EBITDA:</label>
            <input type="number" id="entreprise_to_ebitda" name="entreprise_to_ebitda" min="0" step="any">
            <label for="peg ratio">PEG Ratio:</label>
            <input type="number" id="peg_ratio" name="peg_ratio" min="0" step="any">
            <label for="roe">ROE:</label>
            <input type="number" id="roe" name="roe" min="0" step="any">
            <label for="roce">ROCE:</label>
            <input type="number" id="roce" name="roce" min="0" step="any">
            <label for="roa">ROA:</label>
            <input type="number" id="roa" name="roa" min="0" step="any">
            <label for="price_to_sales">Price to Sales:</label>
            <input type="number" id="price_to_sales" name="price_to_sales" min="0" step="any">
            <button class="filter-button" type="submit">Apply Filters</button>
        </form>
    </div>

    <div class="menu-bar">
        <nav class="menu-bar-nav" style="height: 524px;">
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/watchlist">Watchlist</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/funds">Funds</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="welcome-container">
        <h1>Welcome, {{ username }}!</h1>
        <p>This is your dashboard.</p>
        <a href="/logout" class="logout-button">Logout</a>
    </div>

    <div class="graph-container">
        {{ fig | safe }}
    </div>

    <script>
        function showFilterForm() {
            var filterForm = document.getElementById("filterForm");

            if (filterForm.style.display === "none" || filterForm.style.display === "") {
                filterForm.style.display = "block";
                filterForm.style.zIndex = "10";
            } else {
                filterForm.style.display = "none";
                filterForm.style.zIndex = "";
            }
        }
    </script>

    <div class="scrollable-container">
        {% if filtered_stocks %}
            <h3>Filtered Stocks:</h3>
            <ul>
                {% for stock in filtered_stocks %}
                    <li>{{ stock }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No data available</p>
        {% endif %}
    </div>
</body>
</html>
